
ESP8266/Azuire IoT Ex/src/consts.h
ESP8266/google-iot-cloud-ex/src/consts.h
TinyML/helpers/testing_helpers_test.cc
TinyML/helpers/test_helpers.h
TinyML/helpers/test_helpers.cc
TinyML/helpers/simple_memory_allocator_test.cc
TinyML/helpers/simple_memory_allocator.h
TinyML/helpers/simple_memory_allocator.cc
TinyML/helpers/recording_simple_memory_allocator_test.cc
TinyML/helpers/recording_simple_memory_allocator.h
TinyML/helpers/recording_simple_memory_allocator.cc
TinyML/helpers/recording_micro_interpreter.h
TinyML/helpers/recording_micro_allocator_test.cc
TinyML/helpers/recording_micro_allocator.h
TinyML/helpers/recording_micro_allocator.cc
TinyML/helpers/README.md
TinyML/helpers/kernels/xtensa/depthwise_conv.cc
TinyML/helpers/kernels/xtensa/conv.cc
TinyML/helpers/kernels/vexriscv/utils/README.md
TinyML/helpers/kernels/vexriscv/utils/log_parser.py
TinyML/helpers/kernels/vexriscv/utils/gdb_regex.json
TinyML/helpers/kernels/vexriscv/README.md
TinyML/helpers/kernels/vexriscv/doc/DepthwiseConv2D_int8.md
TinyML/helpers/kernels/vexriscv/depthwise_conv.cc
TinyML/helpers/kernels/unpack_test.cc
TinyML/helpers/kernels/unpack.cc
TinyML/helpers/kernels/transpose_conv_test.cc
TinyML/helpers/kernels/transpose_conv.cc
TinyML/helpers/kernels/test_data_generation/README.md
TinyML/helpers/kernels/test_data_generation/generate_flexbuffers_data.cc
TinyML/helpers/kernels/test_data_generation/BUILD
TinyML/helpers/kernels/tanh_test.cc
TinyML/helpers/kernels/tanh.cc
TinyML/helpers/kernels/svdf_test.cc
TinyML/helpers/kernels/svdf_common.cc
TinyML/helpers/kernels/svdf.h
TinyML/helpers/kernels/svdf.cc
TinyML/helpers/kernels/sub_test.cc
TinyML/helpers/kernels/sub.cc
TinyML/helpers/kernels/strided_slice_test.cc
TinyML/helpers/kernels/strided_slice.cc
TinyML/helpers/kernels/split_v_test.cc
TinyML/helpers/kernels/split_v.cc
TinyML/helpers/kernels/split_test.cc
TinyML/helpers/kernels/split.cc
TinyML/helpers/kernels/softmax_test.cc
TinyML/helpers/kernels/softmax.cc
TinyML/helpers/kernels/shape_test.cc
TinyML/helpers/kernels/shape.cc
TinyML/helpers/kernels/round_test.cc
TinyML/helpers/kernels/round.cc
TinyML/helpers/kernels/resize_nearest_neighbor_test.cc
TinyML/helpers/kernels/resize_nearest_neighbor.cc
TinyML/helpers/kernels/reshape_test.cc
TinyML/helpers/kernels/reshape.cc
TinyML/helpers/kernels/reduce_test.cc
TinyML/helpers/kernels/reduce.cc
TinyML/helpers/kernels/quantize_test.cc
TinyML/helpers/kernels/quantize_common.cc
TinyML/helpers/kernels/quantize.h
TinyML/helpers/kernels/quantize.cc
TinyML/helpers/kernels/quantization_util_test.cc
TinyML/helpers/kernels/prelu_test.cc
TinyML/helpers/kernels/prelu.cc
TinyML/helpers/kernels/pooling_test.cc
TinyML/helpers/kernels/pooling.cc
TinyML/helpers/kernels/pad_test.cc
TinyML/helpers/kernels/pad.cc
TinyML/helpers/kernels/pack_test.cc
TinyML/helpers/kernels/pack.cc
TinyML/helpers/kernels/neg_test.cc
TinyML/helpers/kernels/neg.cc
TinyML/helpers/kernels/mul_test.cc
TinyML/helpers/kernels/mul.cc
TinyML/helpers/kernels/micro_utils.h
TinyML/helpers/kernels/micro_ops.h
TinyML/helpers/kernels/maximum_minimum_test.cc
TinyML/helpers/kernels/maximum_minimum.cc
TinyML/helpers/kernels/logistic_test.cc
TinyML/helpers/kernels/logistic.cc
TinyML/helpers/kernels/logical_test.cc
TinyML/helpers/kernels/logical.cc
TinyML/helpers/kernels/l2norm_test.cc
TinyML/helpers/kernels/l2norm.cc
TinyML/helpers/kernels/kernel_util.h
TinyML/helpers/kernels/kernel_util.cc
TinyML/helpers/kernels/kernel_runner.h
TinyML/helpers/kernels/kernel_runner.cc
TinyML/helpers/kernels/hard_swish_test.cc
TinyML/helpers/kernels/hard_swish.cc
TinyML/helpers/kernels/fully_connected_test.cc
TinyML/helpers/kernels/fully_connected.h
TinyML/helpers/kernels/fully_connected.cc
TinyML/helpers/kernels/floor_test.cc
TinyML/helpers/kernels/floor.cc
TinyML/helpers/kernels/flexbuffers_generated_data.h
TinyML/helpers/kernels/flexbuffers_generated_data.cc
TinyML/helpers/kernels/ethosu.h
TinyML/helpers/kernels/ethosu.cc
TinyML/helpers/kernels/ethos-u/README.md
TinyML/helpers/kernels/ethos-u/ethosu.cc
TinyML/helpers/kernels/elementwise_test.cc
TinyML/helpers/kernels/elementwise.cc
TinyML/helpers/kernels/detection_postprocess_test.cc
TinyML/helpers/kernels/detection_postprocess.cc
TinyML/helpers/kernels/dequantize_test.cc
TinyML/helpers/kernels/dequantize.cc
TinyML/helpers/kernels/depthwise_conv_test.cc
TinyML/helpers/kernels/depthwise_conv.cc
TinyML/helpers/kernels/conv_test_common.cc
TinyML/helpers/kernels/conv_test.h
TinyML/helpers/kernels/conv_test.cc
TinyML/helpers/kernels/conv.cc
TinyML/helpers/kernels/concatenation_test.cc
TinyML/helpers/kernels/concatenation.cc
TinyML/helpers/kernels/comparisons_test.cc
TinyML/helpers/kernels/comparisons.cc
TinyML/helpers/kernels/cmsis-nn/svdf.cc
TinyML/helpers/kernels/cmsis-nn/softmax.cc
TinyML/helpers/kernels/cmsis-nn/README.md
TinyML/helpers/kernels/cmsis-nn/pooling.cc
TinyML/helpers/kernels/cmsis-nn/mul.cc
TinyML/helpers/kernels/cmsis-nn/fully_connected.cc
TinyML/helpers/kernels/cmsis-nn/depthwise_conv.cc
TinyML/helpers/kernels/cmsis-nn/conv.cc
TinyML/helpers/kernels/cmsis-nn/add.cc
TinyML/helpers/kernels/circular_buffer_test.cc
TinyML/helpers/kernels/circular_buffer.cc
TinyML/helpers/kernels/ceil_test.cc
TinyML/helpers/kernels/ceil.cc
TinyML/helpers/kernels/BUILD
TinyML/helpers/kernels/arg_min_max_test.cc
TinyML/helpers/kernels/arg_min_max.cc
TinyML/helpers/kernels/arc_mli/scratch_buffers.h
TinyML/helpers/kernels/arc_mli/scratch_buffers.cc
TinyML/helpers/kernels/arc_mli/scratch_buf_mgr.h
TinyML/helpers/kernels/arc_mli/scratch_buf_mgr.cc
TinyML/helpers/kernels/arc_mli/README.md
TinyML/helpers/kernels/arc_mli/pooling_slicing_test.cc
TinyML/helpers/kernels/arc_mli/pooling.cc
TinyML/helpers/kernels/arc_mli/mli_tf_utils.h
TinyML/helpers/kernels/arc_mli/mli_slicers.h
TinyML/helpers/kernels/arc_mli/mli_slicers.cc
TinyML/helpers/kernels/arc_mli/fully_connected_slicing_test.cc
TinyML/helpers/kernels/arc_mli/fully_connected.cc
TinyML/helpers/kernels/arc_mli/depthwise_conv_slicing_test.cc
TinyML/helpers/kernels/arc_mli/depthwise_conv.cc
TinyML/helpers/kernels/arc_mli/conv_slicing_test.cc
TinyML/helpers/kernels/arc_mli/conv.cc
TinyML/helpers/kernels/add_test.cc
TinyML/helpers/kernels/add.cc
TinyML/helpers/kernels/activations_test.cc
TinyML/helpers/kernels/activations.cc
TinyML/helpers/kernels/activation_utils.h
TinyML/helpers/himax_we1_evb/debug_log.cc
TinyML/helpers/examples/person_detection/utils/raw_to_bitmap_test.py
TinyML/helpers/examples/person_detection/utils/raw_to_bitmap.py
TinyML/helpers/examples/person_detection/utils/BUILD
TinyML/helpers/examples/person_detection/training_a_model.md
TinyML/helpers/examples/person_detection/sparkfun_edge/image_provider.cc
TinyML/helpers/examples/person_detection/sparkfun_edge/detection_responder.cc
TinyML/helpers/examples/person_detection/riscv32_mcu/Makefile.inc
TinyML/helpers/examples/person_detection/README.md
TinyML/helpers/examples/person_detection/person_image_data.h
TinyML/helpers/examples/person_detection/person_detection_test.cc
TinyML/helpers/examples/person_detection/person_detection_binary_test.sh
TinyML/helpers/examples/person_detection/person_detect_model_data.h
TinyML/helpers/examples/person_detection/no_person_image_data.h
TinyML/helpers/examples/person_detection/model_settings.h
TinyML/helpers/examples/person_detection/model_settings.cc
TinyML/helpers/examples/person_detection/Makefile.inc
TinyML/helpers/examples/person_detection/main_functions.h
TinyML/helpers/examples/person_detection/main_functions.cc
TinyML/helpers/examples/person_detection/main.cc
TinyML/helpers/examples/person_detection/image_provider_test.cc
TinyML/helpers/examples/person_detection/image_provider.h
TinyML/helpers/examples/person_detection/image_provider.cc
TinyML/helpers/examples/person_detection/himax_we1_evb/image_provider.cc
TinyML/helpers/examples/person_detection/himax_we1_evb/detection_responder.cc
TinyML/helpers/examples/person_detection/himax_driver/Makefile.inc
TinyML/helpers/examples/person_detection/himax_driver/HM01B0_Walking1s_01.txt
TinyML/helpers/examples/person_detection/himax_driver/HM01B0_Walking1s_01.h
TinyML/helpers/examples/person_detection/himax_driver/HM01B0_RAW8_QVGA_8bits_lsb_5fps.h
TinyML/helpers/examples/person_detection/himax_driver/HM01B0_optimized.h
TinyML/helpers/examples/person_detection/himax_driver/HM01B0_optimized.c
TinyML/helpers/examples/person_detection/himax_driver/HM01B0_debug.h
TinyML/helpers/examples/person_detection/himax_driver/HM01B0_debug.c
TinyML/helpers/examples/person_detection/himax_driver/HM01B0.h
TinyML/helpers/examples/person_detection/himax_driver/HM01B0.c
TinyML/helpers/examples/person_detection/esp/sdkconfig.defaults
TinyML/helpers/examples/person_detection/esp/README_ESP.md
TinyML/helpers/examples/person_detection/esp/Makefile.inc
TinyML/helpers/examples/person_detection/esp/main/Kconfig.projbuild
TinyML/helpers/examples/person_detection/esp/main.cc
TinyML/helpers/examples/person_detection/esp/image_provider.cc
TinyML/helpers/examples/person_detection/esp/app_camera_esp.h
TinyML/helpers/examples/person_detection/esp/app_camera_esp.c
TinyML/helpers/examples/person_detection/detection_responder_test.cc
TinyML/helpers/examples/person_detection/detection_responder.h
TinyML/helpers/examples/person_detection/detection_responder.cc
TinyML/helpers/examples/person_detection/BUILD
TinyML/helpers/examples/person_detection/arduino/Makefile.inc
TinyML/helpers/examples/person_detection/arduino/main.cc
TinyML/helpers/examples/person_detection/arduino/image_provider.cc
TinyML/helpers/examples/person_detection/arduino/HM01B0_platform.h
TinyML/helpers/examples/person_detection/arduino/detection_responder.cc
TinyML/helpers/examples/person_detection/arc_emsdp/Makefile.inc
TinyML/helpers/examples/person_detection/arc_emsdp/emsdp.lcf
TinyML/helpers/examples/person_detection/apollo3evb/image_provider.cc
TinyML/helpers/examples/network_tester/README.md
TinyML/helpers/examples/network_tester/network_tester_test.cc
TinyML/helpers/examples/network_tester/Makefile.inc
TinyML/helpers/examples/micro_speech/yes_30ms_sample_data.h
TinyML/helpers/examples/micro_speech/yes_30ms_sample_data.cc
TinyML/helpers/examples/micro_speech/yes_1000ms_sample_data.h
TinyML/helpers/examples/micro_speech/yes_1000ms_sample_data.cc
TinyML/helpers/examples/micro_speech/train_speech_model.ipynb
TinyML/helpers/examples/micro_speech/train/train_micro_speech_model.ipynb
TinyML/helpers/examples/micro_speech/train/README.md
TinyML/helpers/examples/micro_speech/sparkfun_edge/command_responder.cc
TinyML/helpers/examples/micro_speech/sparkfun_edge/audio_provider.cc
TinyML/helpers/examples/micro_speech/simple_features/yes_simple_features_data.h
TinyML/helpers/examples/micro_speech/simple_features/yes_simple_features_data.cc
TinyML/helpers/examples/micro_speech/simple_features/yes_power_spectrum_data.h
TinyML/helpers/examples/micro_speech/simple_features/yes_power_spectrum_data.cc
TinyML/helpers/examples/micro_speech/simple_features/simple_model_settings.h
TinyML/helpers/examples/micro_speech/simple_features/simple_model_settings.cc
TinyML/helpers/examples/micro_speech/simple_features/simple_features_generator_test.cc
TinyML/helpers/examples/micro_speech/simple_features/simple_features_generator.h
TinyML/helpers/examples/micro_speech/simple_features/simple_features_generator.cc
TinyML/helpers/examples/micro_speech/simple_features/no_simple_features_data.h
TinyML/helpers/examples/micro_speech/simple_features/no_simple_features_data.cc
TinyML/helpers/examples/micro_speech/simple_features/no_power_spectrum_data.h
TinyML/helpers/examples/micro_speech/simple_features/no_power_spectrum_data.cc
TinyML/helpers/examples/micro_speech/simple_features/model.h
TinyML/helpers/examples/micro_speech/simple_features/model.cc
TinyML/helpers/examples/micro_speech/simple_features/fixed_point/simple_features_generator.cc
TinyML/helpers/examples/micro_speech/simple_features/CMSIS/simple_features_generator.cc
TinyML/helpers/examples/micro_speech/riscv32_mcu/Makefile.inc
TinyML/helpers/examples/micro_speech/recognize_commands_test.cc
TinyML/helpers/examples/micro_speech/recognize_commands.h
TinyML/helpers/examples/micro_speech/recognize_commands.cc
TinyML/helpers/examples/micro_speech/README.md
TinyML/helpers/examples/micro_speech/osx/Makefile.inc
TinyML/helpers/examples/micro_speech/osx/audio_provider.cc
TinyML/helpers/examples/micro_speech/nxp_k66f/audio_provider.cc
TinyML/helpers/examples/micro_speech/no_30ms_sample_data.h
TinyML/helpers/examples/micro_speech/no_30ms_sample_data.cc
TinyML/helpers/examples/micro_speech/no_1000ms_sample_data.h
TinyML/helpers/examples/micro_speech/no_1000ms_sample_data.cc
TinyML/helpers/examples/micro_speech/micro_speech_test.cc
TinyML/helpers/examples/micro_speech/micro_speech_binary_mock_test.sh
TinyML/helpers/examples/micro_speech/micro_features/yes_micro_features_data.h
TinyML/helpers/examples/micro_speech/micro_features/yes_micro_features_data.cc
TinyML/helpers/examples/micro_speech/micro_features/yes_feature_data_slice.h
TinyML/helpers/examples/micro_speech/micro_features/yes_feature_data_slice.cc
TinyML/helpers/examples/micro_speech/micro_features/static_alloc.h
TinyML/helpers/examples/micro_speech/micro_features/no_micro_features_data.h
TinyML/helpers/examples/micro_speech/micro_features/no_micro_features_data.cc
TinyML/helpers/examples/micro_speech/micro_features/no_feature_data_slice.h
TinyML/helpers/examples/micro_speech/micro_features/no_feature_data_slice.cc
TinyML/helpers/examples/micro_speech/micro_features/model.h
TinyML/helpers/examples/micro_speech/micro_features/model.cc
TinyML/helpers/examples/micro_speech/micro_features/micro_model_settings.h
TinyML/helpers/examples/micro_speech/micro_features/micro_model_settings.cc
TinyML/helpers/examples/micro_speech/micro_features/micro_features_generator_test.cc
TinyML/helpers/examples/micro_speech/micro_features/micro_features_generator.h
TinyML/helpers/examples/micro_speech/micro_features/micro_features_generator.cc
TinyML/helpers/examples/micro_speech/micro_features/BUILD
TinyML/helpers/examples/micro_speech/Makefile.inc
TinyML/helpers/examples/micro_speech/main_functions.h
TinyML/helpers/examples/micro_speech/main_functions.cc
TinyML/helpers/examples/micro_speech/main.cc
TinyML/helpers/examples/micro_speech/images/model_architecture.png
TinyML/helpers/examples/micro_speech/images/animation_on_arduino.gif
TinyML/helpers/examples/micro_speech/himax_we1_evb/command_responder.cc
TinyML/helpers/examples/micro_speech/himax_we1_evb/audio_provider.cc
TinyML/helpers/examples/micro_speech/feature_provider_test.cc
TinyML/helpers/examples/micro_speech/feature_provider_mock_test.cc
TinyML/helpers/examples/micro_speech/feature_provider.h
TinyML/helpers/examples/micro_speech/feature_provider.cc
TinyML/helpers/examples/micro_speech/esp/sdkconfig.defaults
TinyML/helpers/examples/micro_speech/esp/ringbuf.h
TinyML/helpers/examples/micro_speech/esp/ringbuf.c
TinyML/helpers/examples/micro_speech/esp/Makefile.inc
TinyML/helpers/examples/micro_speech/esp/main.cc
TinyML/helpers/examples/micro_speech/esp/audio_provider.cc
TinyML/helpers/examples/micro_speech/disco_f746ng/timer.cc
TinyML/helpers/examples/micro_speech/disco_f746ng/Makefile.inc
TinyML/helpers/examples/micro_speech/disco_f746ng/command_responder.cc
TinyML/helpers/examples/micro_speech/disco_f746ng/audio_provider.cc
TinyML/helpers/examples/micro_speech/command_responder_test.cc
TinyML/helpers/examples/micro_speech/command_responder.h
TinyML/helpers/examples/micro_speech/command_responder.cc
TinyML/helpers/examples/micro_speech/CMSIS/sin_1k.h
TinyML/helpers/examples/micro_speech/CMSIS/sin_1k.cc
TinyML/helpers/examples/micro_speech/CMSIS/README.md
TinyML/helpers/examples/micro_speech/CMSIS/Makefile.inc
TinyML/helpers/examples/micro_speech/CMSIS/hanning.h
TinyML/helpers/examples/micro_speech/CMSIS/hanning.cc
TinyML/helpers/examples/micro_speech/CMSIS/create_constants.py
TinyML/helpers/examples/micro_speech/ceva/main_functions.cc
TinyML/helpers/examples/micro_speech/ceva/audio_provider.cc
TinyML/helpers/examples/micro_speech/BUILD
TinyML/helpers/examples/micro_speech/audio_provider_test.cc
TinyML/helpers/examples/micro_speech/audio_provider_mock_test.cc
TinyML/helpers/examples/micro_speech/audio_provider_mock.cc
TinyML/helpers/examples/micro_speech/audio_provider.h
TinyML/helpers/examples/micro_speech/audio_provider.cc
TinyML/helpers/examples/micro_speech/arduino/Makefile.inc
TinyML/helpers/examples/micro_speech/arduino/main.cc
TinyML/helpers/examples/micro_speech/arduino/command_responder.cc
TinyML/helpers/examples/micro_speech/arduino/audio_provider.cc
TinyML/helpers/examples/micro_speech/arc_emsdp/Makefile.inc
TinyML/helpers/examples/micro_speech/arc_emsdp/emsdp.lcf
TinyML/helpers/examples/micro_speech/apollo3evb/micro_speech.cmd
TinyML/helpers/examples/micro_speech/apollo3evb/command_responder.cc
TinyML/helpers/examples/micro_speech/apollo3evb/audio_provider.cc
TinyML/helpers/examples/micro_speech/apollo3/README.md
TinyML/helpers/examples/micro_speech/apollo3/pushbutton_test.cc
TinyML/helpers/examples/micro_speech/apollo3/pushbutton_main.c
TinyML/helpers/examples/micro_speech/apollo3/pushbutton_cmsis_voice.cmd
TinyML/helpers/examples/micro_speech/apollo3/pushbutton_cmsis_scores.cmd
TinyML/helpers/examples/micro_speech/apollo3/preprocessor_test.cmd
TinyML/helpers/examples/micro_speech/apollo3/preprocessor_1k_micro_test.cmd
TinyML/helpers/examples/micro_speech/apollo3/preprocessor_1k_cmsis_test.cmd
TinyML/helpers/examples/micro_speech/apollo3/preprocessor_1k.cc
TinyML/helpers/examples/micro_speech/apollo3/Makefile.inc
TinyML/helpers/examples/micro_speech/apollo3/compare_1k.py
TinyML/helpers/examples/micro_speech/apollo3/captured_data_to_wav.py
TinyML/helpers/examples/micro_speech/apollo3/_main.c
TinyML/helpers/examples/magic_wand/zephyr_riscv/src/assert.cc
TinyML/helpers/examples/magic_wand/zephyr_riscv/src/accelerometer_handler.h
TinyML/helpers/examples/magic_wand/zephyr_riscv/src/accelerometer_handler.cc
TinyML/helpers/examples/magic_wand/zephyr_riscv/prj.conf
TinyML/helpers/examples/magic_wand/zephyr_riscv/Makefile.inc
TinyML/helpers/examples/magic_wand/zephyr_riscv/boards/litex_vexriscv.overlay
TinyML/helpers/examples/magic_wand/train/train_test.py
TinyML/helpers/examples/magic_wand/train/train_magic_wand_model.ipynb
TinyML/helpers/examples/magic_wand/train/train.py
TinyML/helpers/examples/magic_wand/train/requirements.txt
TinyML/helpers/examples/magic_wand/train/README.md
TinyML/helpers/examples/magic_wand/train/netmodels/CNN/weights.h5
TinyML/helpers/examples/magic_wand/train/data_split_test.py
TinyML/helpers/examples/magic_wand/train/data_split_person_test.py
TinyML/helpers/examples/magic_wand/train/data_split_person.py
TinyML/helpers/examples/magic_wand/train/data_split.py
TinyML/helpers/examples/magic_wand/train/data_prepare_test.py
TinyML/helpers/examples/magic_wand/train/data_prepare.py
TinyML/helpers/examples/magic_wand/train/data_load_test.py
TinyML/helpers/examples/magic_wand/train/data_load.py
TinyML/helpers/examples/magic_wand/train/data_augmentation_test.py
TinyML/helpers/examples/magic_wand/train/data_augmentation.py
TinyML/helpers/examples/magic_wand/sparkfun_edge/output_handler.cc
TinyML/helpers/examples/magic_wand/sparkfun_edge/accelerometer_handler.cc
TinyML/helpers/examples/magic_wand/slope_micro_features_data.h
TinyML/helpers/examples/magic_wand/slope_micro_features_data.cc
TinyML/helpers/examples/magic_wand/riscv32_mcu/Makefile.inc
TinyML/helpers/examples/magic_wand/ring_micro_features_data.h
TinyML/helpers/examples/magic_wand/ring_micro_features_data.cc
TinyML/helpers/examples/magic_wand/README.md
TinyML/helpers/examples/magic_wand/output_handler_test.cc
TinyML/helpers/examples/magic_wand/output_handler.h
TinyML/helpers/examples/magic_wand/output_handler.cc
TinyML/helpers/examples/magic_wand/Makefile.inc
TinyML/helpers/examples/magic_wand/main_functions.h
TinyML/helpers/examples/magic_wand/main_functions.cc
TinyML/helpers/examples/magic_wand/main.cc
TinyML/helpers/examples/magic_wand/magic_wand_test.cc
TinyML/helpers/examples/magic_wand/magic_wand_model_data.h
TinyML/helpers/examples/magic_wand/magic_wand_model_data.cc
TinyML/helpers/examples/magic_wand/himax_we1_evb/accelerometer_handler.cc
TinyML/helpers/examples/magic_wand/gesture_predictor_test.cc
TinyML/helpers/examples/magic_wand/gesture_predictor.h
TinyML/helpers/examples/magic_wand/gesture_predictor.cc
TinyML/helpers/examples/magic_wand/constants.h
TinyML/helpers/examples/magic_wand/BUILD
TinyML/helpers/examples/magic_wand/arduino/output_handler.cc
TinyML/helpers/examples/magic_wand/arduino/Makefile.inc
TinyML/helpers/examples/magic_wand/arduino/main.cc
TinyML/helpers/examples/magic_wand/arduino/accelerometer_handler.cc
TinyML/helpers/examples/magic_wand/accelerometer_handler_test.cc
TinyML/helpers/examples/magic_wand/accelerometer_handler.h
TinyML/helpers/examples/magic_wand/accelerometer_handler.cc
TinyML/helpers/examples/image_recognition_experimental/util.h
TinyML/helpers/examples/image_recognition_experimental/stm32f746_discovery/image_util.h
TinyML/helpers/examples/image_recognition_experimental/stm32f746_discovery/image_util.cc
TinyML/helpers/examples/image_recognition_experimental/stm32f746_discovery/image_provider.cc
TinyML/helpers/examples/image_recognition_experimental/stm32f746_discovery/display_util.h
TinyML/helpers/examples/image_recognition_experimental/stm32f746_discovery/display_util.cc
TinyML/helpers/examples/image_recognition_experimental/README.md
TinyML/helpers/examples/image_recognition_experimental/Makefile.inc
TinyML/helpers/examples/image_recognition_experimental/main.cc
TinyML/helpers/examples/image_recognition_experimental/image_recognition_test.cc
TinyML/helpers/examples/image_recognition_experimental/image_recognition_model.h
TinyML/helpers/examples/image_recognition_experimental/image_provider.h
TinyML/helpers/examples/image_recognition_experimental/BUILD
TinyML/helpers/examples/hello_world/zephyr_riscv/src/assert.cc
TinyML/helpers/examples/hello_world/zephyr_riscv/prj.conf
TinyML/helpers/examples/hello_world/zephyr_riscv/Makefile.inc
TinyML/helpers/examples/hello_world/train/train_hello_world_model.ipynb
TinyML/helpers/examples/hello_world/train/README.md
TinyML/helpers/examples/hello_world/sparkfun_edge/output_handler.cc
TinyML/helpers/examples/hello_world/sparkfun_edge/constants.cc
TinyML/helpers/examples/hello_world/riscv32_mcu/Makefile.inc
TinyML/helpers/examples/hello_world/README.md
TinyML/helpers/examples/hello_world/output_handler_test.cc
TinyML/helpers/examples/hello_world/output_handler.h
TinyML/helpers/examples/hello_world/output_handler.cc
TinyML/helpers/examples/hello_world/model.h
TinyML/helpers/examples/hello_world/model.cc
TinyML/helpers/examples/hello_world/Makefile.inc
TinyML/helpers/examples/hello_world/main_functions.h
TinyML/helpers/examples/hello_world/main_functions.cc
TinyML/helpers/examples/hello_world/main.cc
TinyML/helpers/examples/hello_world/images/model_architecture.png
TinyML/helpers/examples/hello_world/images/animation_on_STM32F746.gif
TinyML/helpers/examples/hello_world/images/animation_on_sparkfun_edge.gif
TinyML/helpers/examples/hello_world/images/animation_on_arduino_mkrzero.gif
TinyML/helpers/examples/hello_world/hello_world_test.cc
TinyML/helpers/examples/hello_world/hello_world_binary_test.sh
TinyML/helpers/examples/hello_world/esp/main.cc
TinyML/helpers/examples/hello_world/disco_f746ng/output_handler.cc
TinyML/helpers/examples/hello_world/disco_f746ng/Makefile.inc
TinyML/helpers/examples/hello_world/disco_f746ng/constants.cc
TinyML/helpers/examples/hello_world/create_sine_model.ipynb
TinyML/helpers/examples/hello_world/constants.h
TinyML/helpers/examples/hello_world/constants.cc
TinyML/helpers/examples/hello_world/BUILD
TinyML/helpers/examples/hello_world/arduino/output_handler.cc
TinyML/helpers/examples/hello_world/arduino/main.cc
TinyML/helpers/examples/hello_world/arduino/constants.cc
TinyML/helpers/ecm3531/debug_log.cc
TinyML/helpers/docs/renode.md
TinyML/helpers/docs/profiling.md
TinyML/helpers/docs/new_platform_support.md
TinyML/helpers/docs/memory_management.md
TinyML/helpers/docs/images/tflm_continuous_integration_1.png
TinyML/helpers/cortex_m_generic/README.md
TinyML/helpers/cortex_m_generic/debug_log_callback.h
TinyML/helpers/cortex_m_generic/debug_log.cc
TinyML/helpers/chre/debug_log.cc
TinyML/helpers/bluepill/debug_log.cc
TinyML/helpers/benchmarks/README.md
TinyML/helpers/benchmarks/person_detection_benchmark.cc
TinyML/helpers/benchmarks/micro_benchmark.h
TinyML/helpers/benchmarks/Makefile.inc
TinyML/helpers/benchmarks/keyword_scrambled_model_data.h
TinyML/helpers/benchmarks/keyword_scrambled_model_data.cc
TinyML/helpers/benchmarks/keyword_benchmark.cc
TinyML/helpers/benchmarks/BUILD
TinyML/helpers/arduino/debug_log.cc
TinyML/helpers/arduino/abi.cc
TinyML/helpers/arc_emsdp/debug_log.cc
TinyML/helpers/apollo3evb/micro_time.cc
TinyML/helpers/apollo3evb/debug_log.cc
